.squash-and-stretch {
  width: 500px;
  height: 500px;
  float: left;
  margin: 0;
  background: #e9b59f;
  font-family: HelveticaNeue, Arial, Sans-serif;
  color: #fff;
  @keyframes one {
    0%, 15% {
      opacity: 0;
    }
    15%, 25% {
      transform: none;
      animation-timing-function: cubic-bezier(1,-1.92,.95,.89);
      width: 4em;
      height: 4em;
      top: calc(50% - 2em);
      left: calc(50% - 2em);
      opacity: 1;
    }
    35%, 45% {
      transform: translateX(8em);
      height: 6em;
      width: 2em;
      top: calc(50% - 3em);
      animation-timing-function: linear;
      opacity: 1;
    }
    70%, 100% {
      transform: translateX(8em) translateY(5em);
      height: 6em;
      width: 2em;
      top: calc(50% - 3em);
      opacity: 0;
    }
  }
  .one .shape {
    animation: one 4s infinite ease-out;
  }

  .one .surface {
    background: #000;
    height: 10em;
    width: 1em;
    position: absolute;
    top: calc(50% - 4em);
    left: calc(50% + 10em);
  }

  .principle {
    width: 100%;
    height: 100%;
    position: relative;
  }

  .shape {
    background: #2d97db;
    border: 1em solid #fff;
    width: 4em;
    height: 4em;
    position: absolute;
    top: calc(50% - 2em);
    left: calc(50% - 2em);
  }
}
